<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="header-fields">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
    {{{ ref-portrait-img actor.img "img" mm.ent }}}
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="lancer-tabs" data-group="primary">
    <a class="item lancer-tab medium" data-tab="status">&lt;STATUS&gt;</a>
    <a class="item lancer-tab medium" data-tab="config">&lt;CONFIG&gt;</a>
    <!--<a class="item lancer-tab medium" data-tab="mech">&lt;FRAME//LOADOUT&gt;</a>-->
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Active Tab --}}
    <div class="tab manage" data-group="primary" data-tab="status">
      <div class="wraprow quadruple">
        {{{stat-edit-max-card  "HP"          "mm.ent.CurrentHP"    "mm.ent.MaxHP"    icon="mdi mdi-heart-outline" }}}
        {{{stat-edit-max-card  "HEAT"        "mm.ent.CurrentHeat"    "mm.ent.HeatCapacity"    icon="cci cci-heat" }}}
        {{{stat-edit-card      "BURN"        "mm.ent.Burn"    icon="cci cci-burn" }}}
        {{{stat-edit-card      "OVERSHIELD"  "mm.ent.Overshield"    icon="mdi mdi-octagram" }}}

        {{{stat-view-card      "SIZE"        "mm.ent.Size" icon=(concat "mdi " mm.ent.SizeIcon)  }}}
        {{{stat-view-card      "ARMOR"       "mm.ent.Armor"    icon="mdi mdi-shield-outline" }}}
        {{{stat-view-card      "EVASION"     "mm.ent.Evasion"    icon="cci cci-evasion" }}}
        {{{stat-view-card      "E-DEF"       "mm.ent.EDefense"    icon="cci cci-edef" }}}

        {{{stat-view-card      "SPEED"       "mm.ent.Speed"    icon="mdi mdi-arrow-right-bold-hexagon-outline" }}}
        {{{stat-view-card      "SAVE"        "mm.ent.SaveTarget"    icon="cci cci-save" }}}

        <div class="card clipped double">
          <div class="lancer-header major">
            DEPLOYER
          </div>
          {{{deployer-slot "mm.ent.Deployer" }}}
        </div>

        {{{textarea-card "DETAILS" "mm.ent.Detail"}}}

        {{!-- 
          {{{stat-edit-max-card  "REPAIRS"     "mm.ent.CurrentRepairs"    "mm.ent.RepairCapacity"    icon="cci cci-repair" }}}
          {{{stat-view-card      "ATTACK"      "mm.ent.AttackBonus"    icon="cci cci-heart" }}}
          {{{stat-view-card      "TECH ATK"    "mm.ent.TechAttack"    icon="cci cci-tech-full" }}}
          {{{stat-view-card      "SENSORS"     "mm.ent.SensorRange"    icon="cci cci-sensor" }}}
        --}}
      </div>
    </div>

    {{!-- Config Tab --}}
    <div class="tab manage flexcol" data-group="primary" data-tab="config">
      {{!-- Frame Stats --}}
      <div class="card clipped" style="text-align: left;">
        <span class="lancer-header major " style="text-align: center;">BASE STATS</span>
        <div class="card clipped wraprow quadruple">
          <div class="wraprow quadruple">
            {{{clicker-stat-card    "MAX HP"   "mm.ent.BaseMaxHP" icon="mdi mdi-heart-outline"}}}
            {{{clicker-stat-card    "ARMOR"   "mm.ent.BaseArmor" icon="mdi mdi-shield-outline"}}}
            {{{clicker-stat-card    "REPAIRS"   "mm.ent.BaseRepairCapacity" icon="cci cci-repair"}}}
            {{{clicker-stat-card    "EVASION"   "mm.ent.BaseEvasion" icon="cci cci-evasion"}}}

            {{{clicker-stat-card    "E-DEF"   "mm.ent.BaseEDefense" icon="cci cci-edef"}}}
            {{{clicker-stat-card    "HEAT CAP"   "mm.ent.BaseHeatCapacity" icon="cci cci-heatcap"}}}
            {{{clicker-stat-card    "SPEED"   "mm.ent.BaseSpeed" icon="mdi mdi-arrow-right-bold-hexagon-outline"}}}
            {{{clicker-stat-card    "TECH ATK"   "mm.ent.BaseTechAttack" icon="cci cci-tech-full"}}}

            {{{clicker-stat-card    "SENSORS"   "mm.ent.BaseSensorRange" icon="cci cci-sensor"}}}
            {{{clicker-stat-card    "SAVE"   "mm.ent.BaseSaveTarget" icon="cci cci-save"}}}
            {{{clicker-stat-card    "SIZE"   "mm.ent.BaseSize" icon="cci cci-hexagon"}}}
            {{{clicker-stat-card    "COST"   "mm.ent.Cost" icon="cci cci-hexagon"}}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>