<form class="{{cssClass}} lancer-sheet" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot" style="display: grid; grid-template: repeat(2, 1fr) / 1fr 1fr 1fr 80px 120px;">
    {{!-- Name at the top as usual --}}
    <div class="header-fields" style="grid-area: 1/1/2/4;">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>

    {{!-- Three columns below, containing class, templates, and size --}}
    {{!-- Size --}}
    <i class="i--xl cci cci-size-{{mm.ent.Size}}" style="grid-area: 2/1/3/2; justify-self: center;"></i> 

    {{!-- Class --}}
    <div class="flexcol" style="grid-area: 2/2/3/3;">
      <span class="major">CLASS:</span>
      <span class="submajor">
        {{#if mm.ent.ActiveClass}}
          {{mm.ent.ActiveClass.Name}}
        {{else}}
          NO CLASS FOUND
        {{/if}}
      </span>
    </div>

    {{!-- Template(s) --}}
    <div class="flexcol" style="grid-area: 2/3/3/4;">
      <span class="major">TEMPLATES:</span>
      <span class="submajor">
        {{#if mm.ent.Templates.length}}
          <ul>
            {{#each mm.ent.Templates as |template key|}}
              <li>{{template.Name}}</li>
            {{/each}}
          </ul>
        {{else}}
          // NONE //
        {{/if}}
      </span>
    </div>


    {{!-- The rank, as a large pillar(s) --}}
    <div class="flexcol flexcenter" style="grid-area: 1/4/3/5;">
      <span class="major">TIER:</span>
      <i class="i--m cci cci-npc-tier-{{mm.ent.Tier}} tier-icon theme--npc"></i>
    </div>

    {{!-- Finally, the portrait --}}
    <div class="flexcol" style="grid-area: 1/5/3/6;">
      {{{ ref-portrait-img actor.img "img" mm.ent }}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="flexcol">
      {{!-- Class/Tier --}}
      {{!--
       <div class="wraprow double">
        <div class="flexcol card clipped">
          <span class="lancer-header major clipped-top">TIER</span>
          {{{tier-selector "mm.ent.Tier" }}}
        </div>
        <div class="flexcol card clipped">
          <span class="lancer-header major clipped-top">
            CLASS
          </span>
          <span class="lancer-text-field major">
            {{#if class}}
              {{{ref-mm-controllable-item "class" "delete" }}}
              <a class="i--m" style="float: right;">
                <i class="cci cci-npc-class" ></i>
              </a>
            {{else}}
            NO CLASS FOUND
            {{/if}}</span>
        </div>
      </div> --}}

      {{!-- Stats et all --}}
      <div class="wraprow quadruple">
        <div class="double">
          {{{clicker-stat-card   "TIER"         "mm.ent.Tier"         icon=(concat "cci cci-npc-tier-" mm.ent.Tier) }}}
        </div>
        <div class="double">
          {{{stat-view-card      "ACTIV."      "mm.ent.Activations"    icon="cci cci-heart" }}}
        </div>

        {{{stat-view-card      "HULL"         "mm.ent.Hull"         macro-actor=mm.ent}}}
        {{{stat-view-card      "AGILITY"      "mm.ent.Agility"      macro-actor=mm.ent}}}
        {{{stat-view-card      "SYSTEMS"      "mm.ent.Systems"      macro-actor=mm.ent}}}
        {{{stat-view-card      "ENGINEERING"  "mm.ent.Engineering"  macro-actor=mm.ent}}}

        {{{stat-edit-max-card  "STRUCTURE"   "mm.ent.Structure"    "mm.ent.MaxStructure" }}}
        {{{stat-edit-max-card  "HP"          "mm.ent.CurrentHP"    "mm.ent.MaxHP"    icon="mdi mdi-heart-outline" }}}
        {{{stat-edit-card      "O.SHIELD"  "mm.ent.Overshield"    icon="mdi mdi-octagram" }}}
        {{{stat-view-card      "EVASION"     "mm.ent.Evasion"    icon="cci cci-evasion" }}}


        {{{stat-edit-max-card  "STRESS"      "mm.ent.Stress"    "mm.ent.MaxStress" }}}
        {{{stat-edit-max-card  "HEAT"        "mm.ent.CurrentHeat"    "mm.ent.HeatCapacity"    icon="cci cci-heat" }}}
        {{{stat-edit-card      "BURN"        "mm.ent.Burn"    icon="cci cci-burn" }}}
        {{{stat-view-card      "E-DEF"       "mm.ent.EDefense"    icon="cci cci-edef" }}}

        {{{stat-view-card      "SPEED"       "mm.ent.Speed"    icon="mdi mdi-arrow-right-bold-hexagon-outline" }}}
        {{{stat-view-card      "ARMOR"       "mm.ent.Armor"    icon="cci cci-armor" }}}
        {{{stat-view-card      "SENSORS"     "mm.ent.SensorRange"    icon="cci cci-sensor" }}}
        {{{stat-view-card      "SAVE T."     "mm.ent.SaveTarget"    icon="cci cci-save" }}}
      </div>

      {{!-- Equipment et all --}}
      <div class="card clipped">
        <span class="lancer-header submajor ">TEMPLATES</span>
        <div class="wraprow double">
          {{#each mm.ent.Templates as |template index|}}
            {{{ref-mm-controllable-item (concat "mm.ent.Templates." index) "delete" }}}
          {{/each}}
        </div>
      </div> 
      
      <div class="card clipped">
        <span class="lancer-header submajor ">FEATURES</span>
        <div class="wraprow double">
          {{#each mm.ent.Features as |feature index|}}
            {{{npc-feat-preview (concat "mm.ent.Features." index) tier=../mm.ent.Tier macro-actor=../mm.ent }}}
          {{/each}}
        </div>
      </div>

      {{{textarea-card "NOTES" "mm.ent.Notes"}}}
    </div>
  </section>
</form>
