<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class="flexrow">
        {{{ ref-manufacturer "mm.ent.Source" }}}
        {{{ ref-license license mm.ent.LicenseLevel }}}
      </div>
    </div>
    {{{ ref-portrait-img item.img "img" mm.ent }}}
  </header>

  {{{textarea-card "DESCRIPTION" "mm.ent.Description"}}}

  {{!-- Frame Stats --}}
  <div class="card clipped wraprow quadruple">
    <div class="wraprow quadruple">
      {{{clicker-stat-card    "HP"   "mm.ent.Stats.hp" icon="mdi mdi-heart-outline"}}}
      {{{clicker-stat-card    "ARMOR"   "mm.ent.Stats.armor" icon="mdi mdi-shield-outline"}}}
      {{{clicker-stat-card    "REPAIRS"   "mm.ent.Stats.repcap" icon="cci cci-repair"}}}
      {{{clicker-stat-card    "EVASION"   "mm.ent.Stats.evasion" icon="cci cci-evasion"}}}
      {{{clicker-stat-card    "E-DEF"   "mm.ent.Stats.edef" icon="cci cci-edef"}}}
      {{{clicker-stat-card    "HEAT CAP"   "mm.ent.Stats.heatcap" icon="cci cci-heatcap"}}}
      {{{clicker-stat-card    "SPEED"   "mm.ent.Stats.speed" icon="mdi mdi-arrow-right-bold-hexagon-outline"}}}
      {{{clicker-stat-card    "TECH ATK"   "mm.ent.Stats.tech_attack" icon="cci cci-tech-full"}}}
      {{{clicker-stat-card    "SENSORS"   "mm.ent.Stats.sensor_range" icon="cci cci-sensor"}}}
      {{{clicker-stat-card    "SAVE"   "mm.ent.Stats.save" icon="cci cci-save"}}}
      {{{clicker-stat-card    "SYS POINTS"   "mm.ent.Stats.sp" icon="cci cci-system"}}}
      {{{clicker-stat-card    "SIZE"   "mm.ent.Stats.size" icon="cci cci-hexagon"}}}
    </div>
  </div>

  {{!-- Mounts --}}
  <div class="flexcol">
    <div>
      <span class="minor" style="float: left">AVAILABLE WEAPON MOUNTS</span>
      <a class="gen-control" data-action="append" data-path="mm.ent.Mounts" data-action-value="(struct)mount_type" style="float: right">+</a>
    </div>
    <div class="flexrow">
      {{#each mm.ent.Mounts as |mount key|}}
      <div class="flexrow mount arrayed-item">
        <select class="mount-selector" name="mm.ent.Mounts.{{key}}" data-dtype="String" index="{{key}}">
          {{#select mount}}
          <option value="Aux/Aux">AUX/AUX</option>
          <option value="Main">MAIN</option>
          <option value="Main/Aux">MAIN/AUX</option>
          <option value="Flex">FLEX</option>
          <option value="Heavy">HEAVY</option>
          <option value="Integrated">INTEGRATED</option>
          <option value="Superheavy">SUPERHEAVY</option>
          <option value="delete">DELETE</option>
          {{/select}}
        </select>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- Traits --}}
  <div class="card">
    <div class="lancer-header major">
      <span>TRAITS</span>
      <a class="gen-control" data-action="append" data-path="mm.ent.Traits" data-action-value="(struct)frame_trait" style="float: right">+</a>
    </div>
    {{#each mm.ent.Traits as |trait trait_index|}}
      <div class="card clipped frame_trait">
        <div class="lancer-header major">
          <i class="cci cci-trait i--m i--light"> </i>
          <input class="lancer-invisible-input i--light" name="mm.ent.Traits.{{trait_index}}.Name" value="{{trait.Name}}" data-dtype="String" />
          {{{popout-editor-button (concat "mm.ent.Traits." trait_index ".Description") }}}
          <a class="gen-control" data-action="splice" data-path="mm.ent.Traits.{{trait_index}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <div class="desc-text">{{{safe-html trait.Description }}}</div>
        {{{bonuses-view (concat "mm.ent.Traits." trait_index ".Bonuses") editable=../editable}}}
      </div>
    {{/each}}
  </div>

  {{!-- Core System --}}
  <div class="card clipped frame-core">
    {{!-- General Description --}}
    <div class="lancer-header frame_core medium">
      <i></i>
      <input class="lancer-invisible-input major i--light" name="mm.ent.CoreSystem.Name" value="{{mm.ent.CoreSystem.Name}}" data-dtype="String" />
      <div class="medium i--faded" style="justify-self: right;"> // CORE SYSTEM</div>
      {{{popout-editor-button "mm.ent.CoreSystem.Description" }}}
    </div>
    <div class="desc-text">{{{safe-html mm.ent.CoreSystem.Description }}}</div>

    {{!-- Integrated --}}
    {{#each mm.ent.CoreSystem.Integrated as |integrated index|}}
      {{{ref-mm-controllable-item (concat "mm.ent.CoreSystem.Integrated." index) "splice" }}}
    {{/each}}
    {{#each mm.ent.CoreSystem.Deployables as |deployable index|}}
      {{{ref-mm-controllable-item (concat "mm.ent.CoreSystem.Deployables." index) "splice" }}}
    {{/each}}

    {{!-- Passive Description + Bonuses --}}
    <div class="card clipped frame_core">
      <div class="lancer-header">
        <i class="mdi mdi-circle-expand i--m i--light"> </i>
        <input class="lancer-invisible-input medium i--light" name="mm.ent.CoreSystem.PassiveName" value="{{mm.ent.CoreSystem.PassiveName}}" data-dtype="String" />
        <div class="medium i--faded" style="justify-self: right;"> // PASSIVE</div>
        {{{popout-editor-button "mm.ent.CoreSystem.PassiveEffect" }}}
      </div>
      <div class="desc-text">{{{safe-html mm.ent.CoreSystem.PassiveEffect }}}</div>
      {{{bonuses-view "mm.ent.CoreSystem.PassiveBonuses" editable=ditable}}}
    </div>

    {{!-- Active Description + Bonuses --}}
    <div class="card clipped frame_core">
      <div class="lancer-header">
        <i class="cci cci-corebonus i--m i--light"> </i>
        <input class="lancer-invisible-input medium i--light" name="mm.ent.CoreSystem.ActiveName" value="{{mm.ent.CoreSystem.ActiveName}}" data-dtype="String" />
        <div class="i--faded" style="justify-self: right;"> // ACTIVE</div>
        {{{popout-editor-button "mm.ent.CoreSystem.ActiveEffect" }}}
      </div>
      <div class="desc-text">{{{safe-html mm.ent.CoreSystem.ActiveEffect }}}</div>

      {{{tags-view "mm.ent.CoreSystem.Tags" editable=editable}}}

      {{{bonuses-view "mm.ent.CoreSystem.ActiveBonuses" editable=editable}}}
    </div>
  </div>
</form>