<div class="card" style="margin: 0px;">
    <div class="lancer-header ">// {{upper-case action.Name}} //</div>
    
    <div class="card clipped" style="padding: 5px">
        <div class="effect-text" style="grid-area: 2/1/3/3">
            {{{action.Detail}}}
        </div>
        {{#if action.HeatCost}}
        <span>
            {{action.HeatCost}}
            <i class="cci cci-heat overcharge-heat"></i>
        </span>
            
        {{/if}}


        {{{ mm-tag-list "tags" }}}
    </div>
</div>