<div class="card" style="margin: 0px;">
  <div class="lancer-header submajor">
    <i class="cci cci-weapon i--m"></i>
    <span>{{ title }}</span>
  </div>
  <div class="card clipped">
    <div class="lancer-header clipped-top">// ATTACK //</div>
    <div class="dice-roll lancer-dice-roll">
      <div class="dice-result">
        <div class="dice-formula lancer-dice-formula flexrow">
          <span style="text-align: left; margin-left: 5px;">{{ attack.formula }}</span>
          <span class="dice-total lancer-dice-total major {{crit-class d20_roll roll.total}}">{{ attack.total }}</span>
          <i class="cci cci-reticule i--m i--dark"> </i>
        </div>
        <div style="text-align: left;">
          {{{ attack_tooltip }}}
        </div>
      </div>
    </div>
  </div>
  {{#if damages}}
  <div class="card clipped">
    <div class="lancer-header clipped-top">// DAMAGE //</div>
    {{#each damages as |damage key|}}
      <div class="dice-roll lancer-dice-roll">
        <div class="dice-result">
          <div class="dice-formula lancer-dice-formula flexrow">
            <span style="text-align: left; margin-left: 5px;">{{ damage.roll.formula }}</span>
            <span class="dice-total lancer-dice-total major">{{ damage.total }}</span>
            <i class="cci cci-{{lower-case damage.d_type}} i--m damage--{{lower-case damage.d_type}}"> </i>
          </div>
          <div style="text-align: left;">
            {{{ damage.tt }}}
          </div>
        </div>
      </div>
    {{/each}}
    {{{heat "SELF HEAT" tag_heat}}}
    {{{heat "OVERKILL!" overkill_heat}}}
  </div>
  {{/if}}
  {{#each effects as |effect key|}}
    {{{effect-box effect.title effect.body}}}
  {{/each}}
  {{{ mm-tag-list "tags" }}}
</div>